
@import 'variables';
@import 'common';
@import 'tracksList';

.appContainer {
	display: flex;
    flex-direction: row;
	justify-content: space-around;
	
	.container {
		width:30%;
		height: 80vh;
		margin-top: 10vh;
		&.search{
			background:lightgoldenrodyellow;
			position: relative;

			.inputBox {
				display: flex;
				justify-content: space-around;
				margin-top: 1em;

				input {
					width:60%;
				}
	
				button {
				
					width: 30%;
					
				}
			}

			

			.footer {
				display: flex;
				flex-direction: row;
				position: absolute;
				bottom: 0;
				align-items: center;
				width: 100%;
				padding-left: 1em;
				padding-right: 1em;
				padding-bottom: 1em;
				box-sizing: border-box;

				button {
					width:100px
				}

				.gap {
					flex-grow: 1;
				}

				>i{
					font-size:2em;
					margin-left:10px;
					transition: font-size 0.1s ease;
				}

				>i:hover{
					color:#333;
					font-size:2.1em;
				}				
			}				
			
		} 	
		
		
		&.image {
			background:lightcyan;
			display: flex;
			flex-direction: column;
			align-items: center;
			
			img {
				width:50%;
			}
			
			.playerFrame {
				width: 100%;
				margin-top: 50px;
			}
		}
		
		
		
		&.history {
			background:lightblue;
		}
	}
}